html { 
    background-image: url("../images/bg-ocean.jpg");
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Adjust spacing between menu items */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last menu item */
}

nav ul li a {
    text-decoration: none;
    color: #000; /* Adjust color of menu items */
}

.iframe-container {
    display: flex;
    flex-direction: column;
}

iframe {
    width: 60%;
    margin: 1em auto;
}

.about-p {
    width: 60%;
    margin: auto;
    text-align: justify
}


.showlist {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: auto;
 }

.show {
    margin-bottom: 2em;
}

.show h2,
.show h3,
.show p {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

